:root {
    --color-destac: #ff3b30;
    --color-weekend: var(--color-destac);
    --color-background-header: rgba(236, 240, 241, 1);
    --color-background-header-transparent: rgba(236, 240, 241, 0.2);
    --color-divider: #ecf0f1;
    --color-background: #FFF;
    --color-weekend-background: --color-weekend-background;
    --color-font-main: #000;
    --svg-flag-red: url('data:image/svg+xml,<svg width="80" height="26" xmlns="http://www.w3.org/2000/svg"><g><rect fill="rgb(255, 59, 48)" height="26" width="80" rx="8" ry="8"/></g></svg>');

    --transition-scrool-props: top 0.2s ease-out;
}

.themeBlack {
    --color-destac: #ff9500;
    --color-weekend: var(--color-destac);
    --color-divider: #333333;
    --color-background-header: #333333; /*181818*/
    --color-background-header-transparent: rgba(51, 51, 51, 0.2); /*181818*/
    --color-font-main: #FFF;
    --color-background: #000;
    --svg-flag-red: url('data:image/svg+xml,<svg width="80" height="26" xmlns="http://www.w3.org/2000/svg"><g><rect fill="rgb(255, 149, 0)" height="26" width="80" rx="8" ry="8"/></g></svg>');
    /*url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAiIGhlaWdodD0iMjYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PHJlY3QgZmlsbD0iI2ZmOTUwMCIgaGVpZ2h0PSIyNiIgd2lkdGg9IjgwIiByeD0iOCIgcnk9IjgiLz48L2c+PC9zdmc+");*/
   
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    background-color: var(--color-background);
    color: var(--color-font-main);
}

div .App { 
    
}

.topBar {
    background-color: var(--color-background-header);
    /*background-color: rgba(40,40,40,50%);*/
    position: fixed;
    top: 0;     
    z-index: 80;
    /*min-width: 300px;*/
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    font-weight: 700;
    transition: var(--transition-scrool-props);
    
}

.tbMain {

    max-width: 400pt;
    min-width: 270pt;

    background-color: var(--color-background);

    text-align: center;
    margin: auto;
    
    border-collapse: collapse;
    border:none;
    border-spacing:0;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.tbMain td, .tbMain th {
    border-collapse: collapse;
    padding: 10px;
}

.tbMain td:not(.tdDate), .tbMain th:not(.tdDate) { width: 22px; }

.tbMain tr { border-collapse: collapse; border-bottom: 1px solid; border-color: var(--color-divider);  }

.tbMain .trHead { border-bottom: 1px solid var(--color-background) }

.tbMain tr td:first-child, .tbMain tr th:first-child{
    padding-left: 30px;
    padding-right: 15px;
}
.tbMain tr td:last-child, .tbMain tr th:last-child {
    padding-right: 30px;
}
.tdDate {
    font-weight: bold;
}
.tdF { color: var(--color-destac) }

.trSunday, .trSaturday  { background: var(--color-weekend-background); }
.trSunday td:first-child { color: var(--color-weekend); } 
.trSaturday td:first-child { color: var(--color-weekend); }
.trMonday, .trTuesday, .trWednesday, .trThursday { 
    border: 1px solid; 
    border-color: var(--color-divider); 
    border-style: solid none; }

.trTable td.tdToday { 
    background-image: var(--svg-flag-red);
    background-repeat: no-repeat;
    background-position: center 30%;
    background-origin: content-box;
    color: #FFF ;
}

.trHead {
    width: 100%;
    height: 36pt;
    font-weight: bold;
    font-size: small;
    
}

.tdWeekCol {
  font-size: 10px;
}

/*teste*/
.divMasterWide {
  max-width: 100vw;
  max-height: 100vh;
  overflow: scroll;
  position: relative;
}


.trHead th {
    transition: var(--transition-scrool-props);
    position: sticky;
    top: 49px;
    
    background-color: var(--color-background-header); 
    background: linear-gradient(to top, var(--color-background-header-transparent) 0%, var(--color-background-header) 20%);
    /*backdrop-filter: blur(2px);*/
}

.trHead th:first-child {
  left: 0;
  z-index: 50;
}

